* {
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: Raleway;
}

.mcq {
    padding-top: 1px;
    margin-top: -1px;
    padding-bottom: 1px;
    margin-bottom: -1px;
    height: auto;
    min-height: 100vh;
    background-color: #B0B8FF;
}

.card {
    width: 90%;
    max-width: 773px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 43px;
    border-radius: 20px;
    min-height: 117px;
    margin: 25px auto;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
}

.count-down-card {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 773px;
    box-sizing: border-box;
    top: 101px;
    z-index: 100;
}

.mcq-cards {
    margin-top: 270px;
    border: 1px solid transparent;
}

.item {
    padding: 43px 65px;
}

.heading {
    font-weight: 700;
    font-size: 30px;
}

.finish-button {
    width: 228px;
    height: 56px;
    background: #000000;
    border-radius: 5px;

    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    cursor: pointer;
}

.options-headings {
    margin-bottom: 20px;
}

/* Radio Special Styles */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 65px;
    cursor: pointer;
    line-height: 32px;
    padding-bottom: 16px;
    display: inline-block;
    
    font-family: 'Raleway';
    color: #000000;
    font-weight: 400;
    font-size: 30px;
    align-items: center;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 25px;
    top: 3px;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 11px;
    height: 11px;
    background: black;
    position: absolute;
    top: 10px;
    left: 32px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}